---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    image for test

    <img src="/src/astro.svg" alt="Test Image" />
    <p>This is a test page to display an image.</p>
    <p>Feel free to modify this page as needed.</p>
    <p>Check the image path and ensure the image exists in the specified directory.</p>

    <div>
        this is a link Test
        <a href="index">Visit Astro</a>
        <a href="testpage1">link to here</a>
    </div>
</Layout>
